@font-face {
    font-family: 'custom-font';
    /*src: url('./Fonts/Lato-Bla.ttf');*/
    /*src: url('./Fonts/Lato-BlaIta.ttf');*/
    src: url('./Fonts/Lato-Bol.ttf');
    /*src: url('./Fonts/Lato-BolIta.ttf');*/
    /*src: url('./Fonts/Lato-Hai.ttf');*/
    /*src: url('./Fonts/Lato-HaiIta.ttf');*/
    /*src: url('./Fonts/Lato-Lig.ttf');*/
    /*src: url('./Fonts/Lato-LigIta.ttf');*/
    /*src: url('./Fonts/Lato-Reg.ttf');*/
    /*src: url('./Fonts/Lato-RegIta.ttf');*/
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'custom-font', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 56px;
}

main {
    margin-left: 290px;
    padding-top: 56px;
}

.my-navbar {
    position: fixed!important;
    width: 100%;
}
